@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/* ---- reset ---- */

html {
  box-sizing: border-box;
  height: 100%;
  background-color: #fcfcfc;
  /* background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%235dc1fe' fill-opacity='0.11' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 100vh; */
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

/* ---- typography ---- */

* {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  display: block;
  font-size: 2em;
  margin: 0px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
  padding: 8px;
  font-family: 'Major Mono Display', monospace;
  padding-bottom: 3px;
  height: 60px;
}

h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  text-align: center;
}

h3 {
  font-family: 'Roboto Slab', serif;
}

/* ---- layout ---- */

section {
  padding: 40px 20px 60px 20px;
}

p {
  margin: 10px 0px 0px 0px;
}

p:last-of-type {
  margin-bottom: 20px;
}

button, .btn {
  border: 2px solid #71B48D;
  color: #71B48D;
  background-color: white;
  height: 30px;
  padding: 0px 7px;
}

button:hover {
  color: white;
  background-color: #71B48D;
}

textarea {
  background-color: #f4f6f9;
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 29px, #abced4 29px, #abced4 11px, transparent 32px), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  padding-left: 35px;
  width: 100%;
  margin-bottom: 10px;
}

.bold-span {
  font-weight: 600;
}

.underlined-span {
  text-decoration: underline;
}

.error {
  color: red;
  font-weight: bold;
  max-width: 200px;
  text-align: center;
  margin-bottom: 10px;
}

/* ---- components ---- */

nav {
  position: fixed;
  top: 0;
  background-color:  #FCFCF9;
  max-height: 50px;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.input{
  margin: 1%;
  border: 1px solid #6b6b6b24;
  color: #6b6b6b;
  max-width: 55%;
  height: 40px;
  margin-right: 0;
}

.clear-search-btn {
  height: 40px;
  border: 1px solid #6b6b6b24;
  border-left: none;
  color: lightgrey;
  margin-top: 3px;
}

.nav-userinfo {
  display: flex;
  flex-direction: column;
  width: 170px;
  text-align: right;
  padding-right: 8px;
  padding-top: 3px;
}

#text-userinfo {
  margin: 0px;
  font-size: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 2px solid gray;
  display: flex;
  justify-content: space-around;
  background-color: #FCFCF9;
}

.footer-img {
  width: 40px;
  margin-top: 4px;
}

/* Main page, list with all the squares */
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: transform 1s;
  background-image: linear-gradient(to bottom, #E1F2d7, #71B48D);
  padding: 60px 20px 10px 20px;
  height: 520px;
  
}
.main a{
  transition: transform 1s;
  text-decoration: none;
}

/* Each square in the main page*/
.info-card {
  width: 100px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  text-align: center;
  padding: 5%;
  border-radius: 10%;
  box-shadow: 0px 2px 17px 1px #00000014;
  background-color: #FCFCF9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-card img {
  max-width: 55%;
}
.info-card p {
  margin: 0px;
  font-size: 0.8em;
  color: #1b1a1a;
  font-size: 20px;
  padding-top: 5px;
}

/* Page with a list of all the guides available */
.guide-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Each card in the guide list */

.guide-card-container {
  width: 95%;
}
.card-title {
  color: #71B48D;
}

.guide-card {
  border: 1px solid gray;
  border-radius: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  padding: 0px 15px 15px 15px;
  background-color: #e8f2e84f;
}

.card-when-container {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.card-where {
  display: flex;
  width: 100%;
}

.card-when-title {
  width: 36%;
}

.card-where-title {
  width: 30%;
}

.guide-see-more {
  padding-left: 120px;
  font-family: 'Roboto Slab', serif;
  color: #71B48D;
}

/* Guide details when you click on one */
.guide-details {
  display: flex;
  flex-direction: column;
}

.btn-interested {
  align-self: center;
  width: 70%;
  height: 55px;
}

.interested-form {
  display: flex;
  justify-content: center;
}

.guide-owner-text {
  color: #acb471;
}

.contact-details {
  color: #acb471;
}

.contact-text {
  text-align: center;
  margin-top: 15px;
}

#guide-description {
  font-style: italic;
  margin-bottom: 50px;
}

/* Translate image and speech recognition section */
.translate-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SCAN SECTION */

/* Input and label */

.input-file-container {

}

.input-label {
  border: 1px dotted gray;
  display: inline-block;
  width: 200px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 30px;
  color: #06381b;
    background-color: #71b48d9c;
}

/* Preview of image */
.base64-img {
  max-width: 280px;
  max-height: 260px;
  margin-bottom: 20px;
}

.translation-img {
  height: 110px;
}

/* Language selector */
.lang-opt-container {
  margin-bottom: 10px;
}

#lang-selector {
  border: 2px solid #71b48d;
  color: gray;
  background-color: white;
  height: 30px;
  border-right: none;
}

/* Speech microphone */
.speech-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.speech-section button {
  color: #71b48d;
  border: 2px solid #71b48d;
}

.speech-text {
  margin-bottom: 20px;
}

.current-text {
  margin-top: 20px;
}

#play-btn {
  margin-left: 110px;
  border-radius: 20%;
  border-color: #00000040;
  box-shadow: inset 1px 1px 1px 1px #00000021;
  color: white;
  background: #71b48d;
}
#reset-button {
  color: red;
  border-radius: 20%;
  border-color: #00000040;
  box-shadow: inset 1px 1px 1px 1px #00000021;
  color: white;
  background: #e03131;
  border: 2px solid red;
}

/* My profile section */

.my-profile h2 {
  margin-bottom: 13%;
  padding-bottom: 1.5%;
  border-bottom: 3px double #0000001a;
}


.my-info {
  margin: 12px 0;
}
.my-info input {
  border: 1px solid #71b48d52;
  /* border-bottom: 2px dashed #71b48d; */
  background: transparent;
  width: 249px;
}


.info-field {
  display: flex;
}

.info-text {
  margin-top: 3px;
}

.edit-profile-btn {
  margin-top: 10px;
}

.delete-edit-container {
  display: flex;
  width: 30%;
  margin-left: 90px;
  padding-bottom: 20px;
  justify-content: space-around;
}



/* List of user's own guides in MY profile */
.my-guides-title {
  align-self: flex-start;
}

.my-guides {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Create or edit guide */

.create-edit-section {
  padding: 60px 20px 60px 20px;
}

.create-edit-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 350px;
  margin-top: 40px;
}

.create-edit-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.create-edit-input {
  margin-top: 10px;
  border: 0px;
  border-bottom: 1px solid black;
}

.btn-create {
  margin-top: 20px;
}

.duration-container {
  display: flex;
  height: 30px;
  align-items: center;
  width: 180px;
  justify-content: space-around;
  margin-top: 10px;
  color: gray;
  margin-bottom: 30px;
}

.duration-container p {
  margin: 0px;
  margin-right: 10px;
}

.desc {
  height: 50px;
  text-align: start;
  padding-bottom: 31px;
}

.img-input {
  width: 280px;
}


/* LOGIN or SIGNUP */

.login-signup-container {
  width: 100%;
  height: 250px;
  border: 1px dotted gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 100px;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
}

.login-signup-input {
  width: 200px;
  margin-bottom: 20px;
}

.username-container,.password-container {
  width: 200px;
}

.account-change {
  text-align: center;
}

/* ---- section ---- */

audio {
  display: none;
}

.hidden {
  display: none;
}

.home-sick{
display: flex;
justify-content: space-around;
}
.cat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cat-container img {
  max-width: 50%;
  height: auto;
  margin: 10px;
}
.container {
  background-color: #fff;
  height: 100vh;
}
.location-list {
  background: white;
  border-bottom: 1px solid transparent;
  box-shadow: 4px 2px 5px #00000042;
  list-style: none;
  text-align: center;
  padding: 2%;
}

.guide-icon{
  position: relative;
}
.guide-icon-entering{
  animation: fadeIn ease-in-out;
  animation-duration: 0.7s;
}

.guide-icon-entered{
  border: 0px;
}
.translate-icon{
  position: relative;
}
.translate-icon-entering{
  animation: fadeIn ease-in-out;
  animation-duration: 0.7s;
}

.translate-icon-entered{
  border: 0px;
}

@keyframes fadeIn {
	0% {
		
    transform: translateY(20px);
    opacity: 0;
    
  }
  
	100% {
		
    transform: translateY(0px);
    opacity: 1;
	}
}
